form {
  height: 351px;
  width: 363px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  flex-direction: column;
  padding: 15px;
  background-color: beige;
}

label {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #212529;
  width: 74px;
  margin-left: 15px;
  height: 22px;
  font-size: 14px;
}

select {
  margin: 25px;
  width: 84px;
  height: 22px;
}
input,
.main-input {
  height: 48px;
  width: 128px;
  border-radius: 8px;
  margin: 15px 8px;
  padding: 0 16px;
  border: none;
  background-color: #f8f9fa;
}

.main-input {
  width: 85%;
}

.container-value {
  display: flex;
  padding: 5px;
}

button {
  background-color: #fd377e;
  width: 80%;
  height: 48px;
  border-radius: 8px;
  padding: 13px, 20px, 13px, 20px;
  margin: 0 auto;
  cursor: pointer;
}
