.header-container {
  height: 88px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 10px 5px 5px gray;
}

.logo {
  width: 45%;
}

.logo span {
  color: #fd377e;
  font-size: medium;
  font-weight: 600;
  height: 20px;
  width: 70px;
}

h2 {
  height: 20px;
  margin: 0 auto;
  width: 13px;
}

.header-container button {
  width: 84px;
  height: 40px;
  border-radius: 8px;
  gap: 10px;
  background-color: antiquewhite;
  font-family: Nunito;
  color: black;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.header-container button:hover {
  background-color: #fd377e;
  font-size: 18px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
